{% extends 'base/base.html' %}
{% load static %}

{% block extcss %}
    <link rel="stylesheet" href="{% static 'base/css/base_h_f.css' %}">

    {% block extcss %}
    {% endblock %}
{% endblock %}

{% block extbasejs %}
    <script src="{% static 'base/js/base_h_f.js' %}"></script>
{% endblock %}

{% block body %}
{# 头部#}
    {% block header %}
        <header>头部</header>
    {% endblock %}

{# 主体内容#}
    {% block content %}
        <content>主体</content>
    {% endblock %}


{# 尾部   #}
    {% block footer %}
        <footer>尾部</footer>
    {% endblock %}

{% endblock %}